.lisDiv{
box-sizing: border-box;
height:6vh;
display: flex;
width:100%;
border-radius: 8px;
overflow: hidden;
box-shadow: rgba(0,0,0,0.5);
border: none;
margin-bottom: 15px;
}

.lisCss
{
    flex: 1;
    height:100%;
    border-radius: 0px;
    display: flex;
    padding:0px;
}

.btnCss
{
    width:10%;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.4);
    border: none;
}
.btnCss:hover
{
    background-color: brown;
}

p{
    margin:auto 25px;
}